/* ContactForm.css */
.contact-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 40px;
  position: relative; /* For positioning icons */
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #ddd;
}

.contact-container h2 {
  margin-bottom: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-group textarea {
  height: 120px;
  resize: none;
}

.send-button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.send-button:hover {
  background-color: #333;
}

/* Floating icons */
.floating-icon {
  position: absolute;
  color: #ddd; /* Placeholder color for icons */
  font-size: 2rem; /* Placeholder size for icons */
}

.icon-top-left {
  top: -20px;
  left: -20px;
}

.icon-top-right {
  top: -20px;
  right: -20px;
}

.icon-bottom-left {
  bottom: -20px;
  left: -20px;
}

.icon-bottom-right {
  bottom: -20px;
  right: -20px;
}
