/* Footer.css */
.footer {
  background-color: #f8f9fa;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
a {
  text-decoration: none;
  color: #000;
}
.footer-section {
  display: flex;
  flex-direction: column;
}
.footer-logo img {
  width: 50px;
}

.footer-logo p,
.footer-socials a,
.footer-section ul {
  list-style-type: none;
  padding: 0;
  margin: 8px 3px;
}

.footer-socials a {
  display: inline-block;
  margin-right: 8px;
}

.footer-section h4 {
  margin-bottom: 8px;
}

.footer-subscribe {
  display: flex;
}

.footer-subscribe input {
  padding: 8px;
  margin-right: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.footer-subscribe button {
  padding: 8px 12px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.footer-subscribe button:hover {
  background-color: #555;
}
