/* Landingpage.css */

.main-header {
  font-size: 45px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}

.main-button {
  display: flex;
  gap: 10px;
}

.local-button, .International-button {
  padding: 20px 50px;
  border: none;
  font-size: 16px;
  border-radius: 9px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.local-button {
  background-color: #000;
  color: #fff;
}

.local-button:hover {
  background-color: #333;
}

.International-button {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.International-button:hover {
  background-color: #eee;
}

/* Additional CSS for centering the image and text */
.center-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.centered-image {
  max-width: 100%;
  height: auto;
}

.centered-text p {
  margin: 10px 0;
}

/* ProcessSteps.css */
.process-container {
  text-align: center;
  margin: 50px 0;
}

.process-container h2 {
  margin-bottom: 50px;
  font-size: 30px;
  text-transform: capitalize;
}

.steps {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  border: 1px solid #000;
  padding: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
  font-size: 3rem;
}

.step p {
  margin-top: 0;
  font-weight: bold;
}
