.main-header {
  font-size: 45px;
}
/* This styles the container holding the buttons */
.main-container {
  display: flex; /* Use flexbox to center children */
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Center children vertically */
  min-height: 10vh; /* Full height of the viewport */
}

/* This styles the direct parent of the buttons */
.main-button {
  display: flex; /* Use flexbox to align buttons */
  gap: 10px; /* Add space between buttons */
  /* Add any additional styling for the button container here */
}

.local-button,
.International-button {
  padding: 20px 50px; /* Add padding inside the buttons */
  border: none; /* Remove the default border */
  font-size: 16px; /* Set the font size */
  border-radius: 9px; /* Rounded corners */
  cursor: pointer; /* Change mouse cursor on hover */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.local-button {
  background-color: #000; /* Black background */
  color: #fff; /* White text */
}

.local-button:hover {
  background-color: #333; /* Slightly lighter black on hover */
}

.International-button {
  background-color: #fff; /* White background */
  color: #000; /* Black text */
  border: 1px solid #000; /* Black border */
}

.International-button:hover {
  background-color: #eee; /* Light grey background on hover */
}

/* ProcessSteps.css */
.process-container {
  text-align: center;
  margin: 50px 0;
  margin-top: 50px;
}
.process-container h2{
  margin-bottom: 50px;
  font-size: 30px;
  text-transform: capitalize;
}
.steps {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px; /* Adjust gap size as needed */
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  border: 1px solid #000;
  padding: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
  /* You may want to specify a fixed size for your icons */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.step p {
  margin-top: 0;
  font-weight: bold;
}
